@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais */
body {
  @apply bg-gradient-to-b from-black via-gray-900 to-black text-white;
  margin: 0;
  height: 100vh;
}

main {
  height: 100vh;
  scroll-behavior: smooth;
}


section {
  height: 100vh;
}


@layer components {
  h1 {
    @apply text-5xl font-bold mb-4;
  }

  h2 {
    @apply text-xl font-semibold mb-2;
  }

  h3 {
    @apply text-2xl font-semibold mb-2;
  }
}
